<div>
  <div>mouseX: {{mouseX}}</div>
  <div>mouseY: {{mouseY}}</div>
</div>
<svg height="200" width="800"
     (mousemove)="mouseMove($event)">
  <circle id="svgCircle" cx="50" cy="50" r="20" stroke="black"
          stroke-width="3" fill="red" />

</svg>
<p></p>
<button (click)="test()">test</button>
<p>
<div id="tmsg">{{tmsg}}</div>
<div id="data"></div>
<p>


<table>
  <thead>
  <th>id</th>
  <th>name</th>
  </thead>
  <tbody>
  <tr *ngFor="let i of data ">

    <td>{{i.id}}</td>
    <td>{{i.name}}</td>

  </tr>
  </tbody>
</table>

<div id="myDiv"></div>
